@model UserDetailsModel

<h3>Edit User</h3>
<hr />
<form asp-controller="Admin" asp-action="EditUser" method="post">
    <div class="row">
        <div class="col-md-12">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <textarea asp-for="UserName" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="">
                <button type="submit" class="btn btn-success">Edit User</button>
            </div>
        </div>
        <div class="col-md-4">

            @foreach (var roleName in ViewBag.Roles)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                           name="selectedRoles"
                           value="@roleName"
                           id="@roleName"
                    @(Model.SelectedRoles.Any(c => c== roleName) ? "checked" : "") />
                    <label class="custom-control-label" for="@roleName">@roleName</label>
                </div>
            }
            <hr />
            <div class="custom-control custom-checkbox">
                <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input" />
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>
        </div>
    </div>

</form>